In [21]:
import pandas as pd
from sqlalchemy import create_engine
import pymongo
import numpy as np
import pprint

## Grabbing the CSV's

In [2]:
motherShootingsCSV = "motherShootings.csv"
motherDF = pd.read_csv(motherShootingsCSV)
motherDF.head()

,location,date,fatalities,injured,total_victims,gender
0,"San Bernardino, California",2015-12-02,14,21,35,Male & Female
1,"Colorado Springs, Colorado",2015-11-27,3,9,12,M
2,"Colorado Springs, Colorado",2015-10-31,3,0,3,M
3,"Roseburg, Oregon",2015-10-01,9,9,18,Male
4,"Chattanooga, Tennessee",2015-07-16,5,2,7,Male

In [3]:
csv_file = "crimeData.csv"
crime_df = pd.read_csv(csv_file)
crime_df.head()

,ori,year,department_name,total_pop,homs_sum,rape_sum,rob_sum,agg_ass_sum,violent_crime,months_reported,violent_per_100k,homs_per_100k,rape_per_100k,rob_per_100k,agg_ass_per_100k,source,url
0,AZ00717,2015,"Mesa, Ariz.",471034.0,16.0,241.0,408.0,1307.0,1972.0,NaN,418.653431,3.396782,51.164035,86.617951,277.474662,Crime in the U.S. 2015,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...
1,AZ00723,2015,Phoenix,1559744.0,112.0,1016.0,3020.0,5113.0,9261.0,NaN,593.751282,7.180666,65.138895,193.621517,327.810205,Crime in the U.S. 2015,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...
2,AZ01003,2015,"Tucson, Ariz.",529675.0,31.0,422.0,1059.0,1960.0,3472.0,NaN,655.496295,5.852645,79.671497,199.933922,370.038231,Crime in the U.S. 2015,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...
3,CA00109,2015,"Oakland, Calif.",419481.0,85.0,285.0,3290.0,2391.0,6051.0,NaN,1442.496800,20.263135,67.941099,784.302507,569.990059,Crime in the U.S. 2015,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...
4,CA01005,2015,"Fresno, Calif.",520837.0,39.0,167.0,1012.0,1653.0,2871.0,NaN,551.228119,7.487947,32.063774,194.302632,317.373766,Crime in the U.S. 2015,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...

## Cleaning Up The Shootings DataFrame
### A bit brute forced

In [4]:
data = [{'fatalities': motherDF.loc[motherDF['date'].str.contains('2015'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2015'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2015'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2014'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2014'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2014'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2013'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2013'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2013'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2012'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2012'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2012'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2011'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2011'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2011'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2010'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2010'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2010'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2009'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2009'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2009'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2008'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2008'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2008'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2007'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2007'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2007'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2006'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2006'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2006'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2005'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2005'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2005'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2004'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2004'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2004'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2003'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2003'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2003'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2002'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2002'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2002'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2001'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2001'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2001'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('2000'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('2000'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('2000'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1999'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1999'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1999'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1998'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1998'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1998'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1997'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1997'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1997'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1996'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1996'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1996'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1995'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1995'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1995'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1994'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1994'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1994'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1993'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1993'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1993'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1992'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1992'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1992'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1991'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1991'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1991'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1990'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1990'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1990'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1989'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1989'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1989'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1988'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1988'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1988'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1987'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1987'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1987'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1986'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1986'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1986'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1985'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1985'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1985'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1984'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1984'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1984'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1983'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1983'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1983'), 'total_victims'].sum()},
        {'fatalities': motherDF.loc[motherDF['date'].str.contains('1982'), 'fatalities'].sum(),\
         'injured': motherDF.loc[motherDF['date'].str.contains('1982'), 'injured'].sum(),\
         'total_victims': motherDF.loc[motherDF['date'].str.contains('1982'), 'total_victims'].sum()},
      ]

In [5]:
shootingData = pd.DataFrame(data, index=np.arange(2015, 1981, -1))
shootingData.head()

      fatalities  injured  total_victims
2015          46       43             89
2014          18       28             46
2013          35       13             48
2012          71       80            151
2011          19       21             40

In [6]:
# Add the years from the index. 
shootingData['years'] = shootingData.index
shootingData.head()

      fatalities  injured  total_victims  years
2015          46       43             89   2015
2014          18       28             46   2014
2013          35       13             48   2013
2012          71       80            151   2012
2011          19       21             40   2011

## Cleaning Up the Crime Data

In [7]:
new_crime_df = crime_df[['year', 'department_name', 'violent_crime', 'total_pop' ]].copy()
new_crime_df.head()

   year  department_name  violent_crime  total_pop
0  2015      Mesa, Ariz.         1972.0   471034.0
1  2015          Phoenix         9261.0  1559744.0
2  2015    Tucson, Ariz.         3472.0   529675.0
3  2015  Oakland, Calif.         6051.0   419481.0
4  2015   Fresno, Calif.         2871.0   520837.0

In [8]:
crime_dict = new_crime_df.to_dict('self')
crime_dict

{'year': 0       2015
 1       2015
 2       2015
 3       2015
 4       2015
 5       2015
 6       2015
 7       2015
 8       2015
 9       2015
 10      2015
 11      2015
 12      2015
 13      2015
 14      2015
 15      2015
 16      2015
 17      2015
 18      2015
 19      2015
 20      2015
 21      2015
 22      2015
 23      2015
 24      2015
 25      2015
 26      2015
 27      2015
 28      2015
 29      2015
         ...
 2316    1982
 2317    1982
 2318    1982
 2319    1982
 2320    1982
 2321    1982
 2322    1982
 2323    1982
 2324    1982
 2325    1982
 2326    1982
 2327    1982
 2328    1982
 2329    1982
 2330    1982
 2331    1982
 2332    1982
 2333    1982
 2334    1982
 2335    1982
 2336    1982
 2337    1982
 2338    1982
 2339    1982
 2340    1982
 2341    1982
 2342    1982
 2343    1982
 2344    1982
 2345    1982
 Name: year, Length: 2346, dtype: int64,
 'department_name': 0                      Mesa, Ariz.
 1                          Phoenix
 2                    Tucson, Ariz.
 3                  Oakland, Calif.
 4                   Fresno, Calif.
 5       Los Angeles County, Calif.
 6               Long Beach, Calif.
 7                      Los Angeles
 8               Sacramento, Calif.
 9                        San Diego
 10                   San Francisco
 11                        San Jose
 12                   Aurora, Colo.
 13                          Denver
 14                Washington, D.C.
 15         Miami-Dade County, Fla.
 16                           Miami
 17              Jacksonville, Fla.
 18                     Tampa, Fla.
 19                   Orlando, Fla.
 20                         Atlanta
 21                        Honolulu
 22                         Chicago
 23                    Indianapolis
 24                   Wichita, Kan.
 25                 Louisville, Ky.
 26                     New Orleans
 27                          Boston
 28           Baltimore County, Md.
 29          Montgomery County, Md.
                    ...
 2316                 Raleigh, N.C.
 2317                  Newark, N.J.
 2318             Albuquerque, N.M.
 2319                     Las Vegas
 2320                 Buffalo, N.Y.
 2321           Nassau County, N.Y.
 2322                 New York City
 2323          Suffolk County, N.Y.
 2324                    Cincinnati
 2325                     Cleveland
 2326                Columbus, Ohio
 2327                 Oklahoma City
 2328                  Tulsa, Okla.
 2329                Portland, Ore.
 2330                  Philadelphia
 2331                    Pittsburgh
 2332              Nashville, Tenn.
 2333                Memphis, Tenn.
 2334                El Paso, Texas
 2335              Arlington, Texas
 2336             Fort Worth, Texas
 2337                 Austin, Texas
 2338                        Dallas
 2339                       Houston
 2340                   San Antonio
 2341                Salt Lake City
 2342           Fairfax County, Va.
 2343           Virginia Beach, Va.
 2344                       Seattle
 2345                     Milwaukee
 Name: department_name, Length: 2346, dtype: object,
 'violent_crime': 0         1972.0
 1         9261.0
 2         3472.0
 3         6051.0
 4         2871.0
 5         5173.0
 6         2766.0
 7        25156.0
 8         3611.0
 9         5582.0
 10        6710.0
 11        3400.0
 12        1660.0
 13        4599.0
 14        8084.0
 15        6179.0
 16        4473.0
 17        5622.0
 18        2298.0
 19        2525.0
 20        5203.0
 21        2437.0
 22       24663.0
 23       11124.0
 24        3839.0
 25        4300.0
 26        3736.0
 27        4702.0
 28           NaN
 29        1964.0
           ...
 2316       886.0
 2317     10704.0
 2318      2659.0
 2319      4470.0
 2320      3557.0
 2321      1685.0
 2322    143943.0
 2323      2081.0
 2324      3757.0
 2325      9386.0
 2326      4590.0
 2327      4286.0
 2328      2704.0
 2329      6484.0
 2330     17511.0
 2331      5391.0
 2332      3248.0
 2333      7609.0
 2334      3922.0
 2335       607.0
 2336      4901.0
 2337      1532.0
 2338     13053.0
 2339     17801.0
 2340      5905.0
 2341      1279.0
 2342       966.0
 2343       646.0
 2344      5120.0
 2345      3593.0
 Name: violent_crime, Length: 2346, dtype: float64,
 'total_pop': 0        471034.0
 1       1559744.0
 2        529675.0
 3        419481.0
 4        520837.0
 5       1111939.0
 6        476318.0
 7       3962726.0
 8        489717.0
 9       1400467.0
 10       863782.0
 11      1031458.0
 12       360237.0
 13       682418.0
 14       672228.0
 15      1195232.0
 16       437969.0
 17       867258.0
 18       364383.0
 19       268438.0
 20       464710.0
 21       999307.0
 22      2728695.0
 23       863675.0
 24       389824.0
 25       680550.0
 26       393447.0
 27       665258.0
 28       828871.0
 29      1009176.0
           ...
 2316     152882.0
 2317     334414.0
 2318     344962.0
 2319     424252.0
 2320     360493.0
 2321    1058247.0
 2322    7096559.0
 2323    1169000.0
 2324     383975.0
 2325     573944.0
 2326     563680.0
 2327     425093.0
 2328     376599.0
 2329     369796.0
 2330    1687556.0
 2331     425814.0
 2332     462507.0
 2333     659913.0
 2334     458429.0
 2335     173821.0
 2336     412661.0
 2337     370331.0
 2338     970624.0
 2339    1679607.0
 2340     849791.0
 2341     173630.0
 2342     586631.0
 2343     268887.0
 2344     507643.0
 2345     645231.0
 Name: total_pop, Length: 2346, dtype: float64}

In [9]:
crime_year = new_crime_df.groupby('year')
crime_year.sum()
# crime_year.sort_values(by='index', ascending = False)

      violent_crime   total_pop
year
1982      1930713.0  48338985.0
1983      1850503.0  48900834.0
1984      1886809.0  49055031.0
1985      1969260.0  49191535.0
1986      2205660.0  49677351.0
1987      2189833.0  50251736.0
1988      2292660.0  50770146.0
1989      2433172.0  50779917.0
1990      2686096.0  50567789.0
1991      2812083.0  51305405.0
1992      2814398.0  51806850.0
1993      2792980.0  51642893.0
1994      2675116.0  52216950.0
1995      2565543.0  51889328.0
1996      2403789.0  52433301.0
1997      2303366.0  52881202.0
1998      2153167.0  53227331.0
1999      2005477.0  53703720.0
2000      1999863.0  55913270.0
2001      2014008.0  56656392.0
2002      1985342.0  57425521.0
2003      1917072.0  58057152.0
2004      1873245.0  58094106.0
2005      1906871.0  58356575.0
2006      1957346.0  58744063.0
2007      1934105.0  58554165.0
2008      1892222.0  59558390.0
2009      1789882.0  60385217.0
2010      1689509.0  59223241.0
2011      1630009.0  59819081.0
2012      1646202.0  60479280.0
2013      1590805.0  61092218.0
2014      1574333.0  61828407.0
2015      1623131.0  62560261.0

In [10]:
crimeDF = crime_year.sum()
crimeDFyear = crimeDF.sort_values(by='year', ascending=False)
crimeDFyear

      violent_crime   total_pop
year
2015      1623131.0  62560261.0
2014      1574333.0  61828407.0
2013      1590805.0  61092218.0
2012      1646202.0  60479280.0
2011      1630009.0  59819081.0
2010      1689509.0  59223241.0
2009      1789882.0  60385217.0
2008      1892222.0  59558390.0
2007      1934105.0  58554165.0
2006      1957346.0  58744063.0
2005      1906871.0  58356575.0
2004      1873245.0  58094106.0
2003      1917072.0  58057152.0
2002      1985342.0  57425521.0
2001      2014008.0  56656392.0
2000      1999863.0  55913270.0
1999      2005477.0  53703720.0
1998      2153167.0  53227331.0
1997      2303366.0  52881202.0
1996      2403789.0  52433301.0
1995      2565543.0  51889328.0
1994      2675116.0  52216950.0
1993      2792980.0  51642893.0
1992      2814398.0  51806850.0
1991      2812083.0  51305405.0
1990      2686096.0  50567789.0
1989      2433172.0  50779917.0
1988      2292660.0  50770146.0
1987      2189833.0  50251736.0
1986      2205660.0  49677351.0
1985      1969260.0  49191535.0
1984      1886809.0  49055031.0
1983      1850503.0  48900834.0
1982      1930713.0  48338985.0

## Combining the Two DataFrames

In [11]:
shootingData['Violent Crime'] = crimeDFyear['violent_crime']

In [12]:
shootingData

      fatalities  injured  total_victims  years  Violent Crime
2015          46       43             89   2015      1623131.0
2014          18       28             46   2014      1574333.0
2013          35       13             48   2013      1590805.0
2012          71       80            151   2012      1646202.0
2011          19       21             40   2011      1630009.0
2010           9        2             11   2010      1689509.0
2009          39       38             77   2009      1789882.0
2008          17       24             41   2008      1892222.0
2007          53       32             85   2007      1934105.0
2006          21        7             28   2006      1957346.0
2005          17        9             26   2005      1906871.0
2004           5        7             12   2004      1873245.0
2003           7        8             15   2003      1917072.0
2002           0        0              0   2002      1985342.0
2001           5        4              9   2001      2014008.0
2000           7        0              7   2000      1999863.0
1999          42       47             89   1999      2005477.0
1998          14       36             50   1998      2153167.0
1997           9        5             14   1997      2303366.0
1996           6        1              7   1996      2403789.0
1995           6        0              6   1995      2565543.0
1994           5       23             28   1994      2675116.0
1993          23       34             57   1993      2792980.0
1992           9       10             19   1992      2814398.0
1991          35       26             61   1991      2812083.0
1990          10        4             14   1990      2686096.0
1989          15       41             56   1989      2433172.0
1988           7        4             11   1988      2292660.0
1987           6       14             20   1987      2189833.0
1986          15        6             21   1986      2205660.0
1985           0        0              0   1985      1969260.0
1984          28       20             48   1984      1886809.0
1983           0        0              0   1983      1850503.0
1982           8        3             11   1982      1930713.0

In [13]:
shootingData['Population in Metro Areas'] = crimeDFyear['total_pop']

In [14]:
shootingData

,fatalities,injured,total_victims,years,Violent Crime,Population in Metro Areas
2015,46,43,89,2015,1623131.0,62560261.0
2014,18,28,46,2014,1574333.0,61828407.0
2013,35,13,48,2013,1590805.0,61092218.0
2012,71,80,151,2012,1646202.0,60479280.0
2011,19,21,40,2011,1630009.0,59819081.0
2010,9,2,11,2010,1689509.0,59223241.0
2009,39,38,77,2009,1789882.0,60385217.0
2008,17,24,41,2008,1892222.0,59558390.0
2007,53,32,85,2007,1934105.0,58554165.0
2006,21,7,28,2006,1957346.0,58744063.0
2005,17,9,26,2005,1906871.0,58356575.0
2004,5,7,12,2004,1873245.0,58094106.0
2003,7,8,15,2003,1917072.0,58057152.0
2002,0,0,0,2002,1985342.0,57425521.0
2001,5,4,9,2001,2014008.0,56656392.0
2000,7,0,7,2000,1999863.0,55913270.0
1999,42,47,89,1999,2005477.0,53703720.0
1998,14,36,50,1998,2153167.0,53227331.0
1997,9,5,14,1997,2303366.0,52881202.0
1996,6,1,7,1996,2403789.0,52433301.0
1995,6,0,6,1995,2565543.0,51889328.0
1994,5,23,28,1994,2675116.0,52216950.0
1993,23,34,57,1993,2792980.0,51642893.0
1992,9,10,19,1992,2814398.0,51806850.0
1991,35,26,61,1991,2812083.0,51305405.0
1990,10,4,14,1990,2686096.0,50567789.0
1989,15,41,56,1989,2433172.0,50779917.0
1988,7,4,11,1988,2292660.0,50770146.0
1987,6,14,20,1987,2189833.0,50251736.0
1986,15,6,21,1986,2205660.0,49677351.0
1985,0,0,0,1985,1969260.0,49191535.0
1984,28,20,48,1984,1886809.0,49055031.0
1983,0,0,0,1983,1850503.0,48900834.0
1982,8,3,11,1982,1930713.0,48338985.0

In [15]:
combinedDF = shootingData.rename(columns={'fatalities': 'Fatalities',
                             'injured': 'Injured',
                             'total_victims': 'Total Victims',
                             'years': 'Years'})

In [16]:
combinedDF

,Fatalities,Injured,Total Victims,Years,Violent Crime,Population in Metro Areas
2015,46,43,89,2015,1623131.0,62560261.0
2014,18,28,46,2014,1574333.0,61828407.0
2013,35,13,48,2013,1590805.0,61092218.0
2012,71,80,151,2012,1646202.0,60479280.0
2011,19,21,40,2011,1630009.0,59819081.0
2010,9,2,11,2010,1689509.0,59223241.0
2009,39,38,77,2009,1789882.0,60385217.0
2008,17,24,41,2008,1892222.0,59558390.0
2007,53,32,85,2007,1934105.0,58554165.0
2006,21,7,28,2006,1957346.0,58744063.0
2005,17,9,26,2005,1906871.0,58356575.0
2004,5,7,12,2004,1873245.0,58094106.0
2003,7,8,15,2003,1917072.0,58057152.0
2002,0,0,0,2002,1985342.0,57425521.0
2001,5,4,9,2001,2014008.0,56656392.0
2000,7,0,7,2000,1999863.0,55913270.0
1999,42,47,89,1999,2005477.0,53703720.0
1998,14,36,50,1998,2153167.0,53227331.0
1997,9,5,14,1997,2303366.0,52881202.0
1996,6,1,7,1996,2403789.0,52433301.0
1995,6,0,6,1995,2565543.0,51889328.0
1994,5,23,28,1994,2675116.0,52216950.0
1993,23,34,57,1993,2792980.0,51642893.0
1992,9,10,19,1992,2814398.0,51806850.0
1991,35,26,61,1991,2812083.0,51305405.0
1990,10,4,14,1990,2686096.0,50567789.0
1989,15,41,56,1989,2433172.0,50779917.0
1988,7,4,11,1988,2292660.0,50770146.0
1987,6,14,20,1987,2189833.0,50251736.0
1986,15,6,21,1986,2205660.0,49677351.0
1985,0,0,0,1985,1969260.0,49191535.0
1984,28,20,48,1984,1886809.0,49055031.0
1983,0,0,0,1983,1850503.0,48900834.0
1982,8,3,11,1982,1930713.0,48338985.0

In [17]:
combinedDF = combinedDF[['Years', 'Fatalities', 'Injured', 'Total Victims', 'Violent Crime', 'Population in Metro Areas']]
combinedDF

,Years,Fatalities,Injured,Total Victims,Violent Crime,Population in Metro Areas
2015,2015,46,43,89,1623131.0,62560261.0
2014,2014,18,28,46,1574333.0,61828407.0
2013,2013,35,13,48,1590805.0,61092218.0
2012,2012,71,80,151,1646202.0,60479280.0
2011,2011,19,21,40,1630009.0,59819081.0
2010,2010,9,2,11,1689509.0,59223241.0
2009,2009,39,38,77,1789882.0,60385217.0
2008,2008,17,24,41,1892222.0,59558390.0
2007,2007,53,32,85,1934105.0,58554165.0
2006,2006,21,7,28,1957346.0,58744063.0
2005,2005,17,9,26,1906871.0,58356575.0
2004,2004,5,7,12,1873245.0,58094106.0
2003,2003,7,8,15,1917072.0,58057152.0
2002,2002,0,0,0,1985342.0,57425521.0
2001,2001,5,4,9,2014008.0,56656392.0
2000,2000,7,0,7,1999863.0,55913270.0
1999,1999,42,47,89,2005477.0,53703720.0
1998,1998,14,36,50,2153167.0,53227331.0
1997,1997,9,5,14,2303366.0,52881202.0
1996,1996,6,1,7,2403789.0,52433301.0
1995,1995,6,0,6,2565543.0,51889328.0
1994,1994,5,23,28,2675116.0,52216950.0
1993,1993,23,34,57,2792980.0,51642893.0
1992,1992,9,10,19,2814398.0,51806850.0
1991,1991,35,26,61,2812083.0,51305405.0
1990,1990,10,4,14,2686096.0,50567789.0
1989,1989,15,41,56,2433172.0,50779917.0
1988,1988,7,4,11,2292660.0,50770146.0
1987,1987,6,14,20,2189833.0,50251736.0
1986,1986,15,6,21,2205660.0,49677351.0
1985,1985,0,0,0,1969260.0,49191535.0
1984,1984,28,20,48,1886809.0,49055031.0
1983,1983,0,0,0,1850503.0,48900834.0
1982,1982,8,3,11,1930713.0,48338985.0

## Export into Mongo

In [29]:
# create connection
conn = 'mongodb://localhost:27017'
# connection to instance
client = pymongo.MongoClient(conn)
# drop database 
# create database
db = client.combinedCrimeShooting
# Drop Collection shootings
db.combinedData.drop()
# Create shootings collection then insert stuff
db.combinedData.insert_many(combinedDF.to_dict('records'))
print('Project Done')

Project Done

In [38]:
pprint.pprint(db.combinedData.find_one())

{'Fatalities': 46,
 'Injured': 43,
 'Population in Metro Areas': 62560261.0,
 'Total Victims': 89,
 'Violent Crime': 1623131.0,
 'Years': 2015,
 '_id': ObjectId('5d65e9095eb05e9fd514de7b')}